@model MyPortfolioProject.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

@using (Html.BeginForm("UpdateAbout", "About", FormMethod.Post))
{
    @Html.HiddenFor(k => k.AboutID)
    <div class="form-group">
        <label>Başlık</label>
        @Html.TextBoxFor(k => k.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        @Html.TextBoxFor(k => k.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Görsel</label>
        @Html.TextBoxFor(k => k.ImageURL, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Sol Başlık</label>
        @Html.TextBoxFor(k => k.LeftTitle, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn btn-outline-info">Güncelle</button>
    </div>
}