
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@Html.Action("PartialHead", "Default")
<body>

    <!-- Spinner Start -->
    @Html.Action("PartialSpinner", "Default")
    <!-- Spinner End -->

    <!-- Navbar Start -->
    @Html.Action("PartialNavbar", "Default")
    <!-- Navbar End -->

    <!-- Header Start -->
    @Html.Action("PartialHeader", "Default")
    <!-- Header End -->

    <!-- About Start -->
    @Html.Action("PartialAbout", "Default")
    <!-- About End -->

    <!-- Education Start -->
    @Html.Action("PartialEducation", "Default")
    <!-- Education End -->

    <!-- Experience Start -->
    @Html.Action("PartialExperience", "Default")
    <!-- Exparience End -->

    <!-- Skills Start -->
    @Html.Action("PartialSkills", "Default")
    <!-- Skills End -->

    <!-- Service Start -->
    @Html.Action("PartialService", "Default")
    <!-- Service End -->

    <!-- Portfolio Start -->
    @Html.Action("PartialPortfolio", "Default")
    <!-- Portfolio End -->

    <!-- Blog Start -->
    @Html.Action("PartialBlog", "Default")
    <!-- Blog End -->

    <!-- Testimonial Start -->
    @Html.Action("PartialTestimonial", "Default")
    <!-- Testimonial End -->

    <!-- Contact Start -->
    @Html.Action("PartialContact", "Default")
    <!-- Contact End -->

    <!-- Footer Start -->
    @Html.Action("PartialFooter", "Default")
    <!-- Footer End -->

    <!-- JavaScript Libraries -->
    @Html.Action("PartialScript", "Default")
</body>
</html>