@model List<MyPortfolioProject.Models.Blog>

<div class="container-fluid" id="pigraBlog">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3">
                <div class="blog-header h-100 bg-dark pt-6 pe-6 pb-6">
                    <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                        <p class="text-white sub-title">Blog</p>
                        <h1 class="display-6 text-white mb-0">Son Paylaşımlar</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="blog-content h-100 pt-6 ps-6 pb-6">
                    <div class="row g-4">
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-6">
                                <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="row g-4">
                                        <div class="col-4">
                                            <div class="blog-item-img bg-dark h-100">
                                                <a href="#">
                                                    <img src="@item.ImageURL" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="Image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="h-100">
                                                <p class="text-body mb-3"><i class="fa fa-calendar-alt me-2"></i> @item.Date</p>
                                                <a href="#" class="d-inline-block h4 mb-4">@item.Title</a>
                                                <div class="py-2 px-3 bg-light d-flex justify-content-between">
                                                    <p class="mb-0 text-body">By <a href="#" class="h6">@item.ByWho</a></p>
                                                    <p class="mb-0 text-body">In <a href="#" class="h6">@item.Subject</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
