@model List<MyPortfolioProject.Models.About>


@foreach (var item in Model.Where(x=>x.Status==true))
{
    <div class="container-fluid" id="pigraAbout">
        <div class="container">
            <div class="row g-0">
                <div class="col-12 col-lg-3">
                    <div class="about-header bg-dark h-100 pt-6 pe-6 pb-6">
                        <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                            <p class="text-white sub-title">Hakkımda</p>
                            <h1 class="display-6 text-white mb-0">@item.LeftTitle</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="about-content h-100 pt-6 ps-6 pb-6">
                        <div class="row g-5">
                            <div class="col-xl-5">
                                <div class="about-img bg-light p-4 wow fadeInUp" data-wow-delay="0.1s">
                                    <img src="@item.ImageURL" class="img-fluid w-100" alt="Image">
                                    <div class="sosial-icon">
                                        @foreach (var socialMedias in ViewBag.socialMedias)
                                        {
                                            <a class="btn btn-primary btn-sm-square me-3"target="_blank" href="@socialMedias.URL"><i class="@socialMedias.Icon"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s">
                                <h4 class="mb-4">@item.Title</h4>
                                <p class="mb-4">
                                    @item.Description
                                </p>
                                <a href="#" class="btn btn-primary py-2 px-4"> <i class="fas fa-download me-2"></i>Cv mi İndirin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}