﻿@using PagedList
@using PagedList.Mvc


@model PagedList.IPagedList<MyPortfolioProject.Models.Contact>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Gönderme Tarihi</th>
        <th>Konu</th>
        <th>Durum</th>
        <th>Mesajı Aç</th>
        <th>Mesajı Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        string subjectColor = "";
        switch (item.Category.CategoryName)
        {
            case "Teşekkür":
                subjectColor = "badge bg-danger";
                break;
            case "Öneri":
                subjectColor = "badge bg-success";
                break;
            case "Proje Talebi":
                subjectColor = "badge bg-primary";
                break;
            case "Referans":
                subjectColor = "badge bg-warning";
                break;
            case "Toplantı":
                subjectColor = "badge bg-purple";
                break;
            case "Görüşme":
                subjectColor = "badge bg-warning";
                break;
            case "Reklam":
                subjectColor = "badge bg-pink";
                break;
            case "Diğer":
                subjectColor = "badge bg-secondary";
                break;
            default:
                subjectColor = "badge bg-dark";
                break;
        }
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.SendDate</td>
            <td><span class="@subjectColor p-2" style="color:white; font-size: small">@item.Category.CategoryName</span></td>

            @if (item.IsRead.Equals(false))
            {
                <td><a href="/Message/ChangeMessageStatusToTrue/@item.ContactID" class="btn btn-outline-info">Okundu Olarak İşaretle</a></td>
            }
            else
            {
                <td><a href="/Message/ChangeMessageStatusToFalse/@item.ContactID" class="btn btn-outline-info">Okunmadı Olarak İşaretle</a></td>
            }

            <td><a href="#" class="btn btn-outline-warning">Mesajı Aç</a></td>
            <td><a href="#" class="btn btn-outline-danger">Mesajı Sil</a></td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Inbox", new { page }))
<style>
    .pagination {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a, .pagination li span {
                display: block;
                padding: 8px 16px;
                border: 1px solid #ddd;
                text-decoration: none;
                color: #333;
            }

                .pagination li a:hover {
                    background-color: #f2f2f2;
                    border-color: #333;
                }

            .pagination li.active span {
                background-color: #007bff;
                color: white;
                border-color: #007bff;
            }

            .pagination li.disabled span {
                color: #ccc;
            }
</style>

<br />
<a href="/Education/CreateEducation/" class="btn btn-outline-info">Yeni Mesaj</a>